/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: rgba(0,0,0,0.8);
}

p {
  max-width: 100%;
}

.desc {
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
}